begin

   dbms_cloud.create_credential(
      credential_name => 'GENAI_CRED',
      user_ocid       => '{{ user_ocid }}',
      tenancy_ocid    => '{{ tenancy_ocid }}',
      private_key     => '{{ private_api_key_content }}',
      fingerprint     => '{{ fingerprint }}'
   );
end;
/

exit;